h2 {
    text-align: center;
    color: #007bff; /* blue color */
    margin-bottom: 20px;
    font-size: 40px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: calc(100% - 22px); /* Adjusting for input padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

input[type="submit"] {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #0056b3;
}

select {
    appearance: none; /* Remove default select arrow */
}

/* Custom select style */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
}

/* Style the arrow inside the select */
.select-arrow {
    position: absolute;
    top: 14px;
    right: 10px;
    pointer-events: none;
}

/* Hide arrow icon in IE */
select::-ms-expand {
    display: none;
}

/* Style selected option */
select option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Style for labels */
.inline-labels label {
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    vertical-align: top;
}

/* Clearfix for label inputs */
.inline-labels::after {
    content: "";
    display: table;
    clear: both;
}